SERVER_URL="0.0.0.0:3000"
DATABASE_URL="postgres://user:password@localhost:3001/user"
ACCOUNT_CONFIRMATION_LIFESPAN="600" # Seconds
CHECK_TIMEOUT="30" # Seconds
ACCOUNT_IDS_LENGTH="12"
ACCOUNT_INFO_CHANGE_IDS_LENGTH="5"
CREATE_ID_RETRY_LIMIT="15"
JWT_SECRET_KEY="aaaaaaaaaaaaaaaiCruzesCredoooooooooNocreotnistoquetristeZaAAAAAAAAAAiaAIiiiiiiiiiiiiiiiIIIIIIIsadegezclap123fixefixe+"
STRING_ENCRYPTION_PROCESSING_COST="5"
PROCESS_ID_LENGTH="6"

NAME="O Melhor Website"

EMAIL_ADDRESS=""
EMAIL_PASSWORD=""
SMTP_RELAY=""

ACCOUNT_CREATION_CONFIRMATION_EMAIL_SUBJECT="Account Confirmation"
ACCOUNT_CREATION_CONFIRMATION_EMAIL_TITLE_MESSAGE="Thanks for joining our website!"

ACCOUNT_CHANGE_USERNAME_CONFIRMATION_EMAIL_SUBJECT="Username Change Confirmation"
ACCOUNT_CHANGE_USERNAME_CONFIRMATION_EMAIL_TITLE_MESSAGE="There has been a request to change the username of your account."

ACCOUNT_CHANGE_EMAIL_ONE_CONFIRMATION_EMAIL_SUBJECT="Email Change Confirmation"
ACCOUNT_CHANGE_EMAIL_ONE_CONFIRMATION_EMAIL_TITLE_MESSAGE="There has been a request to change the email of your account."

ACCOUNT_CHANGE_EMAIL_TWO_CONFIRMATION_EMAIL_SUBJECT="Email Change Confirmation"
ACCOUNT_CHANGE_EMAIL_TWO_CONFIRMATION_EMAIL_TITLE_MESSAGE="There has been a request to change an account's email to yours."

ACCOUNT_CHANGE_PASSWORD_CONFIRMATION_EMAIL_SUBJECT="Password Change Confirmation"
ACCOUNT_CHANGE_PASSWORD_CONFIRMATION_EMAIL_TITLE_MESSAGE="There has been a request to change the password of your account's information."

ACCOUNT_EMAIL_AUTHENTICATION_CONFIRMATION_EMAIL_SUBJECT="Email Authentication Confirmation"
ACCOUNT_EMAIL_AUTHENTICATION_CONFIRMATION_EMAIL_TITLE_MESSAGE="There has been a request to log into your account through this email confirmation."

ACCOUNT_DELETION_CONFIRMATION_EMAIL_SUBJECT="Account Deletion Confirmation"
ACCOUNT_DELETION_CONFIRMATION_EMAIL_TITLE_MESSAGE="There has been a request to delete your account."

EMAIL_NAME_PLACEHOLDER="§NAME§"
CONFIRMATION_EMAIL_TITLE_MESSAGE_PLACEHOLDER="§TITLE_MESSAGE§"
CONFIRMATION_EMAIL_CONFIRMATION_CODE_PLACEHOLDER="§CONFIRMATION_CODE§"
CONFIRMATION_EMAIL_BODY="<body style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding: 20px; text-align: center;\"> <center> <img src=\"https://pagman.org/drive_logo.png\" height=\"50\"> <h2>§NAME§</h2> </center> <p>§TITLE_MESSAGE§</p> <p>To confirm, place this code in the confirmation code box:</p> <h2 style=\"display: inline-block; border: 1px solid #000; padding: 20px 50px;\">§CONFIRMATION_CODE§</h2> <p>If you know nothing about this action, you can safely ignore it.</p> </body>"