.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    padding: 50px;

    &::before {
        content: "";
        width: 200px;
        height: 200px;
        background-color: red;
        position: absolute;
        top: 100px;
        background: linear-gradient(to right, aquamarine, mediumpurple);
        border-radius: 90% 60% 80% 50%;
        filter: blur(100px);
    }

    .logo {
        height: 250px;
    }
}

@media (max-width: 700px) {
    .home-container {
        padding: 10px;

        .logo {
            height: 50vw;
        }
    }
}